{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
{% endblock %}

{% block body %}
Saison {{season.number}} de la Série : {{program.title}}
	{% for episode in episodes %}

		<div class="media">
			<div class="media-body">
				<h1 class="mt-0">Episode :
					{{episode.number}}</h1>
				<p>{{episode.title}}</p>
				{# <a href="{{ path("program_season_show", { id: program.id }, {id: season.id}) }}">Voir les épisodes</a>
								/program/{programId}/season/{seasonId} #}

				<a href="/program/{{program.Id}}/season/{{season.Id}}/episode/{{episode.Id}}">Voir la fiche</a>

			</div>
		</div>
	{% else %}

		Aucune épisode trouvée.

	{% endfor %}

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
