{% extends 'base.html.twig' %}

{% block title %}Acteur : {{ actor.name }}{% endblock %}

{% block body %}
    <h1>Acteur : {{ actor.name }}</h1>

{% for program in programs %}

        <div class="media-body">
            <h1 class="mt-0">{{ program.id }} / {{ program.title }}</h1>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>

    {% else %}

        Aucune série trouvée.

    {% endfor %}
    <a href="{{ path('app_actor_index') }}">back to actor list</a>
{% endblock %}